@page "/pool_poolsize"

@inject IService<PoolDto, PoolCreateDto, PoolUpdateDto> PoolService
@inject IService<PoolSizeDto, PoolSizeCreateDto, PoolSizeUpdateDto> PoolSizeService
@inject AuthorizeAdmin AuthorizeAdmin


@inject NavigationManager NavigationManager
<h3>Pool_PoolSize</h3>
<div class="row mt-5 d-flex justify-content-around">
    <div class="col-12 col-md-6 shadow-sm mx-5">
        <div class="form-floating mt-2">
            <h2>Pool list</h2>
        </div>
        <div class="form-group mt-2">
            <button class="btn btn-primary" @onclick="CreatePage" type="submit">Create</button>
        </div>
        <div class="form-floating mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>                  
                        <th>Pool number</th>
                        <th>Size</th>
                        <th>Temperature</th>
                        <th>Total capacity</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var pool in PoolService.ItemList)
                    {
                        <tr>
                            <td>@pool.Id</td>
                            <td>@pool.Size.Title</td>
                            <td>@pool.Temperature</td>
                            <td>@pool.TotalCapacity</td>
                            <td>
                                <button class="btn btn-primary"
                                    @onclick="()=> ShowPool(pool.Id)">
                                    <i class="oi oi-pencil"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                        @onclick="()=> DeletePool(pool.Id)">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-md-4 shadow-sm mx-5">
        <div class="form-floating mt-2">
            <h2>Pool size list</h2>
        </div>
        <div class="form-group mt-2">
            <button class="btn btn-primary" @onclick="CreatePagePoolSize" type="submit">Create</button>
        </div>
        <div class="form-floating mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Pool size number</th>
                        <th>Title</th>
                        <th>Width</th>
                        <th>Length</th>
                        <th>Height</th>
                        <th>Edit</th>  
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var poolSize in PoolSizeService.ItemList)
                    {
                        <tr>
                            <td>@poolSize.Id</td>
                            <td>@poolSize.Title</td>
                            <td>@poolSize.Width</td>
                            <td>@poolSize.Length</td>
                            <td>@poolSize.Height</td>
                            <td>
                                <button class="btn btn-primary"
                                    @onclick="()=> ShowPoolSize(poolSize.Id)">
                                    <i class="oi oi-pencil"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                        @onclick="()=> DeletePoolSize(poolSize.Id)">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </td>
                          
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthorizeAdmin.CheckUserRole();
        await PoolService.GetAllAsync();
        await PoolSizeService.GetAllAsync();
    }
    public void ShowPool(int id)
    {
        NavigationManager.NavigateTo($"/pool/{id}");
    }
    public void ShowPoolSize(int id)
    {
        NavigationManager.NavigateTo($"/poolsize/{id}");
    }
    public void CreatePage()
    {
        NavigationManager.NavigateTo($"/pool/create");
    }
    public async Task DeletePool(int poolId)
    {
        await PoolService.DeleteAsync(poolId);
        ReloadPage();
    }
    public async Task DeletePoolSize(int poolSizeId)
    {
        await PoolSizeService.DeleteAsync(poolSizeId);
        ReloadPage();
    }
    public void ReloadPage()
    {
        var uri = NavigationManager.Uri;
        NavigationManager.NavigateTo(uri, forceLoad: true);
    }
    public void CreatePagePoolSize()
    {
        NavigationManager.NavigateTo($"/poolsize/create");
    }
}
