@page "/users-roles"

@inject IUserService UserService
@inject IService<RoleDto, RoleCreateDto, RoleUpdateDto> RoleService
@inject NavigationManager NavigationManager
@inject AuthorizeAdmin AuthorizeAdmin

<div class="row mt-5 d-flex justify-content-around">
    <div class="col-12 col-md-6 shadow-sm mx-5">
        <div class="form-floating mt-2">
            <h2>User list</h2>
        </div>
        <div class="form-floating mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>User id</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach(var user in UserService.ItemList)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Fname</td>
                                <td>@user.Sname</td>
                                <td>@user.Email</td>
                                <td>@user.Phone</td>
                                <td>@user.Role.Title</td>
                                <td>
                                    <button class="btn btn-primary"
                                        @onclick="()=> ShowUser(user.Id)">
                                        <i class="oi oi-pencil"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                        @onclick="()=> UserService.DeleteAsync(user.Id)">
                                        <i class="oi oi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-md-4 shadow-sm mx-5">
        <div class="form-floating mt-2">
            <h2>Role list</h2>
        </div>
        <div class="form-floating mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Role id</th>
                        <th>Role name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach(var role in RoleService.ItemList)
                        {
                            <tr>
                                <td>@role.Id</td>
                                <td>@role.Title</td>
                                <td>
                                    <button class="btn btn-primary"
                                        @onclick="()=> ShowRole(role.Id)">
                                        <i class="oi oi-pencil"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                        @onclick="()=> RoleService.DeleteAsync(role.Id)">
                                        <i class="oi oi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthorizeAdmin.CheckUserRole();
        await UserService.GetAllAsync();
        await RoleService.GetAllAsync();
    }
    public void ShowUser(int id)
    {
        NavigationManager.NavigateTo($"/user/{id}");
    }
    public void ShowRole(int id)
    {
        NavigationManager.NavigateTo($"/role/{id}");
    }
}
