@page "/admin/visits-reservations"
@inject IService<VisitDto,VisitCreateDto,VisitUpdateDto> VisitService
@inject IService<ReservationDto,ReservationCreateDto,ReservationUpdateDto> ReservationService
@inject NavigationManager NavigationManager
@inject AuthorizeAdmin AuthorizeAdmin

<div class="row mt-5 d-flex justify-content-around">
    <div class="col-12 col-md-5 shadow-sm mx-5">
        <div class="form-floating mt-2">
            <h2>Visit list</h2>
        </div>
        <div class="form-floating mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Visit number</th>
                        <th>Date</th>
                        <th>Stay time</th>
                        <th>Pool number</th>

                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var visit in VisitService.ItemList)
                    {
                        <tr>
                            <td>@visit.Id</td>
                            <td>@visit.Date</td>
                            <td>@visit.StayTime</td>
                            <td>@visit.Pool.Id</td>

                            <td>
                                <button class="btn btn-primary"
                                    @onclick="()=> ShowVisit(visit.Id)">
                                    <i class="oi oi-pencil"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                    @onclick="()=> VisitService.DeleteAsync(visit.Id)">
                                    <i class="oi oi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-md-4 shadow-sm mx-5">
        <div class="form-floating mt-2">
            <h2>Reservation list</h2>
        </div>
        <div class="form-floating mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Reservation number</th>
                        <th>Date</th>

                        <th>Subscription number</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach(var reservation in ReservationService.ItemList)
                        {
                            <tr>
                                <td>@reservation.Id</td>
                                <td>@reservation.Date</td>
                                <td>@reservation.Subscription.Id</td>
                                <td>
                                    <button class="btn btn-primary"
                                        @onclick="()=> ShowReservation(reservation.Id)">
                                        <i class="oi oi-pencil"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (!await AuthorizeAdmin.CheckUserRole())
            return;

        await VisitService.GetAllAsync();
        await ReservationService.GetAllAsync();
    }
    public void ShowVisit(int id)
    {
        NavigationManager.NavigateTo($"/visit/{id}");
    }
    public void ShowReservation(int id)
    {
        NavigationManager.NavigateTo($"/reservation/{id}");
    }
}
