@page "/admin/visits-reservations"
@inject IService<VisitDto,VisitCreateDto,VisitUpdateDto> VisitService
@inject IService<ReservationDto,ReservationCreateDto,ReservationUpdateDto> ReservationService
@inject NavigationManager NavigationManager
@inject AuthorizeAdmin AuthorizeAdmin

<div class="row mt-5 d-flex justify-content-around">
    <div class="col-12 col-md-5 shadow-sm mx-5">
        <div class="form-floating mt-2">
            <h2>Visit list</h2>
        </div>
        <div class="form-group mt-2">
            <button class="btn btn-primary" @onclick="VisitCreate" type="submit">Create</button>
        </div>
        <div class="input-group mb-3">
            <InputNumber TValue="int" class="form-control" placeholder="Search" @bind-Value="SearchValue1" aria-label="Search" aria-describedby="button-addon2" />
            <button class="btn btn-primary" @onclick="()=> SearchButtonRes()" type="button" id="button-addon2">Search</button>
        </div>
        <div class="form-floating mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Visit number</th>
                        <th>Date</th>
                        <th>Stay time</th>
                        <th>Pool number</th>

                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var visit in visitDtos)
                    {
                        <tr>
                            <td>@visit.Id</td>
                            <td>@visit.Date</td>
                            <td>@visit.StayTime</td>
                            <td>@visit.Pool.Id</td>

                            <td>
                                <button class="btn btn-primary"
                                    @onclick="()=> ShowVisit(visit.Id)">
                                    <i class="oi oi-pencil"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                        @onclick="async () => await DeleteVisit(visit.Id)">
                                    <i class="oi oi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-md-4 shadow-sm mx-5">
        <div class="form-floating mt-2">
            <h2>Reservation list</h2>
        </div>
        <div class="form-group mt-2">
            <button class="btn btn-primary" @onclick="CreateReservation" type="submit">Create</button>
        </div>
        <div class="input-group mb-3">
            <InputNumber TValue="int" class="form-control" placeholder="Search" @bind-Value="SearchValue2" aria-label="Search" aria-describedby="button-addon2" />
            <button class="btn btn-primary" @onclick="()=> SearchButtonVisit()" type="button" id="button-addon2">Search</button>
        </div>
        <div class="form-floating mb-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Reservation number</th>
                        <th>Date</th>

                        <th>Subscription number</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach(var reservation in reservationDtos)
                        {
                            <tr>
                                <td>@reservation.Id</td>
                                <td>@reservation.Date</td>
                                <td>@reservation.Subscription.Id</td>
                                <td>
                                    <button class="btn btn-primary"
                                        @onclick="()=> ShowReservation(reservation.Id)">
                                        <i class="oi oi-pencil"></i>
                                    </button>
                                </td>
                                <td>
                                <button class="btn btn-danger"
                                        @onclick="async () => await DeleteReservation(reservation.Id)">
                                    <i class="oi oi-trash"></i>
                                </button>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private int SearchValue1 { get; set; }
    private int SearchValue2 { get; set; }
    private List<VisitDto> visitDtos = new List<VisitDto>();
    private List<ReservationDto> reservationDtos = new List<ReservationDto>();
    protected override async Task OnInitializedAsync()
    {
        if (!await AuthorizeAdmin.CheckUserRole())
            return;

        await VisitService.GetAllAsync();
        await ReservationService.GetAllAsync();
        visitDtos = VisitService.ItemList;
        reservationDtos = ReservationService.ItemList;
    }
    private async Task SearchButtonRes()
    {
        if (SearchValue1 > 0)
        {
            var result = await VisitService.GetByIdAsync(SearchValue1);
            if (result != null)
            {
                visitDtos = new List<VisitDto> { result };
                return;
            }
            visitDtos = new List<VisitDto>();
        }
    }
    private async Task SearchButtonVisit()
    {
        if (SearchValue2 > 0)
        {
            var result = await ReservationService.GetByIdAsync(SearchValue2);
            if (result != null)
            {
                reservationDtos = new List<ReservationDto> { result };
                return;
            }
            reservationDtos = new List<ReservationDto>();
        }
    }
    private void VisitCreate()
    {
        NavigationManager.NavigateTo("/visit/create");
    }
    private void CreateReservation()
    {
        NavigationManager.NavigateTo("/reservation/admin/create");
    }
    public void ShowVisit(int id)
    {
        NavigationManager.NavigateTo($"/visit/{id}");
    }
    public void ShowReservation(int id)
    {
        NavigationManager.NavigateTo($"/reservation/{id}");
    }
    private async Task DeleteVisit(int id)
    {
        await VisitService.DeleteAsync(id);
        await SearchButtonRes();
        StateHasChanged();
    }

    private async Task DeleteReservation(int id)
    {
        await ReservationService.DeleteAsync(id);
        await SearchButtonVisit();
        StateHasChanged();
    }
}
